@import "compass/css3";

span:nth-child(3n), span:nth-child(5n) {
    font-size: 0px;
}

span:nth-child(3n):before {
    font-size: 25px;
    content:"Fizz";
}

span:nth-child(5n):after {
    font-size: 25px;
    content:"Buzz";
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5em;
    border: 2px solid black;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
}

p {
    text-align: justify;
    font-size: 25px;
    border: 2px solid black;
    padding: 20px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    
}

footer {
    text-align: center;
    margin-top: 17%;
    right: 50%;
    background-color: darkblue;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}